body{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: white;
}

#clock{
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 400px;
    border: 15px solid #0E82F5;
    border-radius: 100%;
    transition: all 1s;
}

#hour, #minute, #second{
    transform-origin: bottom;
    position: absolute;
    right: 50%;
    bottom: 50%;
    z-index: -100000000;
    border-radius: 20px;
    transition: all 0.2s;
}

#center{
    width: 15px;
    height: 15px;
    background: white;
    border: 5px solid #494949;
    border-radius: 100%;
    transition: all 0.2s;
}

#hour{
    width: 5px;
    height: 150px;
    background: #494949;
    transition: all 0.2s;
}

#minute{
    width: 5px;
    height: 190px;
    background: #494949;
    transition: all 0.2s;
}

#second{
    width: 2px;
    height: 200px;
    background: red;
    transition: all 0.2s;
    animation-direction: alternate;
}

#clock:hover{
    cursor: pointer;
}

#hour_d, #minute_d, #second_d{
    display: none;
    transition: all 2s;
    width: 50%;
    height: 100%;
    line-height: 200px;
    text-align: center;
    font-size: 3em;
}

#hour_d, #minute_d{
    border-right: 1px solid black;
}